body{
    height: 20rem;
}
/* 头部开始 */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fa3432;
    font-size: .373333rem;
    color: aliceblue;
    padding-left: .426667rem;
    padding-right: .426667rem;
    height: 1.226667rem;
}
header a{
color: aliceblue;
}
header .iconfont{
    font-size: .3rem;
}
/* 头部结束 */

/* 渐变开始 */
.support{
    height: 2.96rem;
    padding-top: .666667rem;
    background: linear-gradient(to bottom,#ff3c01,#d80607);
    color: #fff;
    text-align: center;
}
.support .date1{
    font-size: .906667rem;
    margin-bottom: .56rem;
}
.support .date2{
    font-size: .4rem;
}
/* 渐变结束 */


/* 中间开始 */
.pot .one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .4rem;
    height: 1.053333rem;
    border: 1px solid #f1f0f0;
    color: #a2a2a2;
    text-align: center;
}
.pot .one p{
    width: 50%;
}
.pot .one .a{
    border-right: 1px solid #f1f0f0;
}
.pot .two{
    height: 1.933333rem;
    width: 7.573333rem;
    /* border: 1px solid red; */
    margin: .906667rem 1.186667rem;
    background: url(../img/detail_icon_bg.png) no-repeat;
    background-size: 100% 100%;
    font-size: .32rem;
    color: #ffc166;
}
.pot .two ul{
    display: flex;
    flex-wrap: wrap;
}
.pot .two ul li{
    width: 50%;
    height: .973333rem;
    text-align: center;
    line-height: .973333rem;
}
.pot .two ul li .iconfont{
    display: inline-block;
    width: .55rem;
    height: .55rem;
    line-height: .55rem;
    font-size: .35rem;
    border: 3px solid #f5f5f4;
    border-radius: 50%;
    margin-right: .13rem;
    /* text-align: center; */
}
.pot .three{
    
    padding-top: .893333rem;
    margin-left: .44rem;
    margin-right: .44rem; 
}
.pot .three .ta{
    position: relative;
    height: .2rem;
    width: 9.093333rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #ccc;
}
.pot .three .ta .bfh{
    position: absolute;
    top: 0px;
    left: 0px;
    height: .2rem;
    width: 3.5rem;
    border: 1px solid #d80607;
    border-radius: 20px;
    background: #d80607;
}
.pot .three .ta .sz .aa{
    position: absolute;
    top: -0.666667rem;
    left: 3rem;
    width: .8rem;
    height: .426667rem;
    background-color: #fb0502;
    color: #fff;
    font-size: .32rem;
}
.pot .three .ta .sz :after{
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: .44rem;
    border: .133333rem solid transparent;
    border-top: .133333rem solid #fb0502;
    transform: translateX(-50%);
}
.pot .three .tb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .293333rem;
    color: #808080;
    margin-top: .346667rem;
}
.pot .three .tb em{
    color: #ff0000;
}
/* 中间结束 */




/* 脚步开始 */
footer .look{
    position: fixed;
    bottom: 1.866667rem;
    text-align: center;
    left: 0px;
    right:0px;
}
footer .look a{
    color: #adadad;
    font-size: .293333rem;
}
footer .zuihou{
    height: 1.4rem;
    background-color: #f0f0f0;
    /* font-size: .48rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .48rem;
    padding-right: .266667rem;
    position: fixed;
    bottom: 0px;
    left: 0rem;
    right: 0rem;
}
footer .zuihou .get{
    color: #ff8f00;
    text-decoration: underline;
    font-size: .426667rem;
}
footer .zuihou .now{
    height: 1.093333rem;
    width: 6.893333rem;
    background-color: #ff0000;
    border-radius: 10px;
    font-size: .426667rem;
    text-align: center;
    line-height: 1.093333rem;
    color: #fff;
}
/* 脚步结束 */


/* 蒙版开始 */
.mask{
    position: absolute;
    top: .92rem;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.5);
    display: none;
}
.mask .nav{
    background-color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.2rem;
    /* list-style: none; */
}
.mask .nav a{
    color: #ff0000;
    font-size: .373333rem;
    width: 25%;
    border-right: 1px solid #ddd;
    text-align: center;
}
.mask .nav .iconfont{
    font-size: .373333rem;
    margin: 0 auto;
}
.mask .nav a:last-child{
    border-right: none;
}

/* 蒙版结束 */